# User Testing Report

User testing was conducted by Ian Durkin on Monday, October 28 between the times of 7:00PM and 10:00PM with the following participants:

- Chloé Saint-Denis
- Christopher Adamowicz
- Chris Tudin

## Tasks

1. View website on mobile and desktop
2. Find Twitter link
3. Navigate to Chicago House article page

---

## Individual Results & Observations

### Chloé Saint-Denis

- Loaded website on cellphone
- Scrolled up and down, read the body copy
- Loaded website up on desktop
- Noted the differences in the website
- Was able to find the Twitter link on desktop, but not mobile.
- Was able to navigate to Chicago House page on both platforms

### Christopher Adamowicz

- Loaded website on cellphone
- Asked what page the Chicago House article was on
- Could not find Twitter link on mobile


### Christopher Tudin

- Loaded website up on both platforms without issue.
- Could not find Twitter link on mobile version
- Clicked the link to Chicago House article.


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Unable to find Social Media links on mobile version. Needs revision.

### Serious, Causes Frustration, May Hinder Completion

- Unable to find social media on Media Query.


### Minor, Annoying, Won’t Hinder Completion

- Nothing noted.
