<!DOCTYPE html>
<html lang=en-ca>
  <head>
    <meta charset="utf-8">
    <title>HMDB - 404</title>

    <meta name ="handheldfriendly" content="true">
    <meta name ="mobileoptimized" content="240">
    <meta name ="viewport" content="width=device-width; initial-scale=1">

    <link href="{{site.baseurl}}/css/404.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>

  <meta property="og:type" content="article">
    <meta property="og:title" content="HMDB - Your House Music Database">
    <meta property="og:url" content="http://www.hmdb.com/">
    <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
    <meta property="og:image" content="http://www.hmdb.com/img/image.jpg">
    <!-- `og:site_name` is optional but highly recommended -->
    <meta property="og:site_name" content="HMDB.com">
    <!-- `og:description` is also optional, but could easily be filled with the meta description -->
    <meta property="og:description" content="A page dedicated to everything and anything House Music">

     <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="HMDB - Your House Music Database">
    <meta name="twitter:url" content="http://www.hmdb.com">
    <meta name="twitter:description" content="A page dedicated to everything and anything House Music">
    <!-- The image should be 120x120 pixels in dimension -->
    <meta name="twitter:image" content="http://www.hmdb.com/img/image.jpg">

  </head>

<body>
   <header role="banner">
    <div class="logo">
       <a href="index.html" rel="home"><img src="{{site.baseurl}}../img/logo.png" alt="logo"></a>
    </div>
    <nav role="navigation" class="clearfix">
      <ul class="skiplinks">
      <a href="">Music</a>
      <a href="{{site.baseurl}}/chicago.html">Genres</a>
      <a href="{{site.baseurl}}/derrick.html">Artists</a>
      <a href="{{site.baseurl}}/history.html">History</a>
      <a href="#main">About</a>
    </nav>
  </header>

    {{content}}

  <footer>
    <div class="grid">
      <div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>History</li>
          <li>Artists</li>
          <li>Genres</li>
          <li>Music</li>
        </ul>
      </div>
      <div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
       <ul class="list-group" role="complementary" id="complementary">

    <li class="list-group-item-inline">
      <a href="http://www.twitter.com" class="icon-wrapper" rel="external">
        <i class="icon i-16 i-twitter"></i>
          <span class="icon-label">Twitter</span>
      </a>
    </li>
    <li class="list-group-item-inline">
      <a href="http://www.facebook.com" class="icon-wrapper" rel="external">
        <i class="icon i-16 i-facebook"></i>
          <span class="icon-label">Facebook</span>
      </a>
    </li>
    <li class="list-group-item-inline">
      <a href="http://www.googleplus.com" class="icon-wrapper" rel="external">
        <i class="icon i-16 i-googleplus"></i>
          <span class="icon-label">Google+</span>
      </a>
    </li>
    <li class="list-group-item-inline">
      <a href="http://www.pintrest.com" class="icon-wrapper" rel="external">
        <i class="icon i-16 i-pintrest"></i>
          <span class="icon-label">Pinterest</span>
      </a>
    </li>
  </ul>
      </div>
      <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">

      <ul>
        <form class="flex-img">
          <h2>Contact Us</h2>
        <p>First name: <input type="text" name="firstname"><br></p>
        <p>Last name: <input type="text" name="lastname"><br></p>
        <p>Email: <nbsp><input type="text" name="email"><br></p>
        <p>Comments: <input type="text" name="comment"><br><p>
        <input type="submit" value="Submit">
        </form>
      </ul>
    </div>
    <div class="copyright"><p>©2013 Ian Durkin Design. All Rights Reserved.</p></div>
  </footer>
</body>
</html>
